<!-- If we render this, include image and copy -->
<div class="feature-flag item1 col-sm">
    <p class="feature-details">background-color: {{bgColor}}</p>
    <p class="feature-details">height: {{height}}px</p>
    <p class="feature-details">width: {{width}}px</p>
    <p class="feature-details">opacity: {{opacity}}</p>
</div>
<!---
<img src="{{ image }}" style="width: 300px; height:auto" />
<h2 style="color:#FFF;"> {{ copy }} </h2>
//--->