<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/images/favicon-pride-32x32.png">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <style>
    .feature-flag {
        background-color: {{bgColor}};
        height: {{height}}px;
        width: {{width}}px;
        max-width: {{width}}px;
        min-width: {{width}}px;
        text-align: left;
        padding-left: 2px;
        overflow: hidden;
    }
    .feature-details {
        font-size: 1vh;
        opacity: 1;
        color: #000;
        word-wrap: break-word;
    }

</style>

</head>
<body class="{{template}}" style="background: url('{{bgImage}}'); background-color:#000; background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment:fixed;">
  <div class="container">
    {{{ body }}}
  </div>
  
  <!-- Load the JS SDK At the bottom-->
  <script src="https://unpkg.com/@optimizely/optimizely-sdk@3.0.1/dist/optimizely.browser.umd.min.js"></script>
  
  <script>
    // Store datafile as a window level object
  	window.optlyDatafile = {{{datafile}}}

    // Instantiate client using datafile
  	let optimizelyClient = optimizelySdk.createInstance({datafile: window.optlyDatafile});
    var itemNum = 2;
    var addFlag = function() {
      console.log(itemNum);
      userId = Math.random().toString();
      createCookie("userId", userId);
      if (document.querySelector(".item2") == null) {
        var elem = document.querySelector(".feature-flag");
      } else {
        var elem = document.querySelector(".item" + itemNum);
        itemNum += 1;
      }
      var enabled = optimizelyClient.isFeatureEnabled('v2_homepage', userId);
      var width = optimizelyClient.getFeatureVariableInteger('v2_homepage', 'width', userId);
      var background_color = optimizelyClient.getFeatureVariableString('v2_homepage', 'background-color', userId);
      var opacity = optimizelyClient.getFeatureVariableDouble('v2_homepage', 'opacity', userId);
      var height = optimizelyClient.getFeatureVariableInteger('v2_homepage', 'height', userId);
      var newFlag = `<div class="col-sm item${itemNum}" style="overflow: hidden; min-width: ${width}px; max-width: ${width}px; text-align: left; width: ${width}px; background-color: ${background_color}; height: ${height}px;"> <p class="feature-details">background-color: ${background_color}</p> <p class="feature-details">height: ${height}px</p> <p class="feature-details">width: ${width}px</p> <p class="feature-details">opacity: ${opacity}</p></div>`
      elem.insertAdjacentHTML("afterend", newFlag);
    };
    
    // Helper function to get userId stored as a cookie
    function getCookieValue(a){
 	    var b = document.cookie.match('(^|[^;]+)\\s*' + a + '\\s*=\\s*([^;]+)');
      return b ? b.pop() : '';
    }

    function createCookie(name,value,days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
        var expires = "; expires=" + date.toGMTString();
    } else {
        var expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
    }
  
    // Getting userId
    var userId = getCookieValue('userId');

    // Setup which selector I want to track
    let trackButton = document.querySelector('.click-event');

    // Add event listener to my tracking button and fire Optly event
    trackButton.addEventListener('click', ()=>{
      optimizelyClient.track('track_clicks', userId);
    })

  </script>
</body>
</html>